@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-black: #000000;
  --brand-black-light: #060606;
  --brand-gray-light: #D9D9D9;
  --brand-dark-blue: #000E8A;
  --height-image-product: 376px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-gray-light: var(--brand-gray-light);
  --color-brand-black-light: var(--brand-black-light);
  --color-brand-black: var(--brand-black);
  --color-brand-dark-blue: var(--brand-dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-beatrice: var(--font-beatrice);
  --font-beatrice-deck: var(--font-beatrice-deck);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-image: url('../public/noisy_background.png');
  color: var(--foreground);
  font-family: var(--font-beatrice);
}

h1,
h2,
h3 {
  font-weight: bold;
}
